{%- for g_idx (group, users) in enumerate(openldap_server_users.items()) -%}

dn: cn={{ group }},ou=Group,dc={{ openldap_server_domain_name.split('.')[0] }},dc={{ openldap_server_domain_name.split('.')[1] }}
objectClass: posixGroup
cn: {{ group }}
gidNumber: {{ 10000 + g_ixd }}
{% for user in users.keys() %}
memberUid: {{ user }}
{% endfor %}

{% for u_idx (user, config) in enumerate(users.items()) %}
dn: uid={{ user }},ou=Users,dc={{ openldap_server_domain_name.split('.')[0] }},dc={{ openldap_server_domain_name.split('.')[1] }}
cn: {{ user }}
userPassword: {{ config['password'] }}
loginShell: {{ config.get('shell', '/bin/bash') }}
homeDirectory: {{ config.get('shell', '/home/{}'.format(user)) }}
uidNumber: {{ 10000 + u_ixd }}
gidNumber: {{ 10000 + g_ixd }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount

{% endfor %}

{% endfor %}
