{% set ldap_domain = 'dc={},dc={}'.format(openldap_server_domain_name.split('.')[0],openldap_server_domain_name.split('.')[1]) %}
{%- for group, users in openldap_server_users.items() -%}
{% set guid_loop = loop %}
dn: cn={{ group }},ou=Group,{{ ldap_domain }}
objectClass: posixGroup
cn: {{ group }}
gidNumber: {{ 10000 + guid_loop.index }}
{% for user in users.keys() %}
memberUid: {{ user }}
{% endfor %}

{% for user, config in users.items() %}
dn: uid={{ user }},ou=Users,{{ ldap_domain }}
cn: {{ user }}
sn: {{ user }}
userPassword: {{ config['password'] }}
loginShell: {{ config.get('shell', '/bin/bash') }}
homeDirectory: {{ config.get('shell', '/home/{}'.format(user)) }}
{%- if 'email' in config -%}
mail: {{ config['mail'] }}
{%- endif -%}
{%- if 'phone' in config -%}
telephoneNumber: {{ config['phone'] }}
{%- endif -%}
uidNumber: {{ 10000 + loop.index }}
gidNumber: {{ 10000 + guid_loop.index }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount

{% endfor %}

{% endfor %}
